extends layout.pug

block title
  title Home

block content
  div(class="container mt-4")
    h1 Bokin Home
    h4 Hello #{ user.username }!

    hr

    h2 Dashboard

    hr

    h2 Links

    nav(class="nav")
      a(class="nav-link" href="/sns") SNS
      a(class="nav-link" href="/alarm") ALARM
      a(class="nav-link" href="/donation") DONATION
      a(class="nav-link" href="/card") CARD
      a(class="nav-link" href="/user") USER
