extends layout.pug

block title
  title Home

block content
  div(class="container mt-4")
    h4 #{ user.username }

    if todayResult
      button.btn.btn-secondary 今日は起床報告しました

      p #{ todayResult.wakedUpAt }に起床しました。
      p #{ todayResult.fine }円が募金額です。
    else
      form(method="post" action="/result/wakeup")
        button.btn.btn-primary.text-white(type="submit") 起床報告

    .mt-2.mb-2
      a
        i.fas.fa-chart-line 統計を見る

    .my-2
      p 今月の支払額
      h4 #{ sum } 円
