extends layout.pug

block title
  title Home

block content
  div(class="container mt-4")
    h4 #{ user.username }

    if achievedToday
      button.btn.btn-secondary 今日は起床報告しました
    else
      form(method="post" action="/achievement")
        button.btn.btn-primary.text-white(type="submit") 起床報告
