extends layout.pug

block title
  title Document

block content
  div(class="container mt-4")
    h1 Login
    form(action="/login" method="post" class="my-4")
      div(class="form-group")
        label Email
        input(type="email" class="form-control" name="email")
      div(class="form-group")
        label Password
        input(type="password" class="form-control" name="password")
      button(type="submit" class="btn btn-primary") Login
    a(href="/signup") signup
