extends layout.pug

block title
  title Document

block content
  div.container.my-4
    h1 Signup
    .alert.alert-warning.alert-dismissible
      button.close(data-dismiss="alert")
        span(aria-hidden="true") &times;
      h4 β版の案内
      p メール認証機能はありませんので、適当なメールアドレスでユーザを作成できます.
    form(action="/signup" method="post" class="my-4")
      div(class="form-group")
        label Username
        input(type="text" class="form-control" name="username")
      div(class="form-group")
        label Email
        input(type="email" class="form-control" name="email")
      div(class="form-group")
        label Password
        input(type="password" class="form-control" name="password")
      button(type="submit" class="btn btn-primary") 送信
    a(href="/login") login
