extends layout.pug

block title
  title User

block content
  div(class="container mt-4")
    h2 #{ user.username }

    ul.list-group.mb-4
      li.list-group-item
        a(href="/sns") SNS
      li.list-group-item
        a(href="/alarm") ALARM
      li.list-group-item
        a(href="/donation") DONATION
      li.list-group-item
        a(href="/card") CARD
      li.list-group-item
        a(href="/user") USER

    a.btn.btn-secondary(href="/logout") Logout
